main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.description-application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    gap: 15px
}


img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.routes-features {
    display: flex;
    justify-content: center;
    width: max-content;
}

.route-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid white;
    width: 50%;
}

.route-container:hover {
    transform: translateY(-10px); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 4px 8px white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.route-container p {
    width: 60%;
    text-align: center;
}

.btn-routes {
    color: white;
    border: 1px solid white;
    padding: 20px;
    border-radius: 100px;
    background-color: blueviolet;
    font-size: 19px;
}

.btn-routes:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 23px;
}